body{
    margin: 0;
    padding: 0;
}

.bar{
    background-color:	#9932CC;
    width: 100%;
    text-align:center;
}

.bar button{
    font-size: 20px;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: None;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    background: 0 0;
    border: 0;
    cursor: pointer;
    padding: 15px;
}

.contact_container{
    font-size: 15px;
    color: #fff;
    font-family: inherit;
    text-decoration: None;
    text-align:center;
    font-weight: 700;
    padding-top: 16px;
}

.contact_container div{
    padding-bottom: 2px;
}

.social-icons{
    padding-left: 0;
    margin-top: 8px;
}

.social-icon{
    font-size: 24px;
    padding: 8px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background-color: #f5f2ec;
    font-family: Inter;
}

.middle{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: grid;
    grid-gap: 100px;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}







